@{
    ViewData["Title"] = "Hello";
}

<div class="parallaxAbout  hello">
    <div class="centerdivAbout text-white">
        <h1>@ViewData["Title"]</h1>
    </div>

</div>
<br />
<div class="container">
    <br />
    <h1 class="font-weight-bold text-center">Our team</h1>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="~/content/about/team1.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Logo design</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="~/content/about/team3.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Branding</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="~/content/about/team2.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Illustration</h5>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="~/content/about/team4.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Animation</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <h1 class="font-weight-bold text-center">Our partners</h1>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="~/content/about/partner1.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="~/content/about/partner2.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="~/content/about/partner3.jpg" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="parallaxAbout  bye">
    <div class="centerdivAbout text-white">
        <h1>Let's make something meaningfull together!</h1>
    </div>

</div>